:root {
    --main-color: #da00ff;
}
* {
    box-sizing: border-box;
}
body {
    font-family: "Open Sans", "sans-serif";
}

/* Start Container */
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
}
/* End Container */

/* start settings box */
.settings-box {
    position: fixed;
    left: -200px;
    top: 0;
    background-color: #eee;
    width: 200px;
    min-height: 100vh;
    z-index: 10000;
    transition: 0.3s;
    border: 1px solid #ccc;
}
.settings-box.open {
    left: 0;
}
.settings-box .toggle-settings {
    position: absolute;
    right: -33px;
    top: 94px;
    background-color: #eee;
    text-align: center;
    cursor: pointer;
    display: block;
    border-radius: 0 15px 15px 0px;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.settings-box .toggle-settings .fa-gear {
    width: 32px;
    padding: 8px 0;
}
.settings-box .settings-container .option-box {
    padding: 15px;
    text-align: center;
    margin: 10px;
}
.settings-box .settings-container .option-box h4 {
    margin: 0;
    color: #666;
}
.settings-box .settings-container .option-box .colors-list {
    list-style: none;
    text-align: center;
    padding: 0;

    margin-bottom: 40px;
}
.settings-box .settings-container .option-box .colors-list ul {
    margin: 10px 0 0;
}
.settings-box .settings-container .option-box .colors-list li {
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0.4;
    display: inline-block;
}
.settings-box .settings-container .option-box .colors-list li:first-child {
    background-color: #da00ff;
}
.settings-box .settings-container .option-box .colors-list li:nth-child(2) {
    background-color: #ff9800;
}
.settings-box .settings-container .option-box .colors-list li:nth-child(3) {
    background-color: #009688;
}
.settings-box .settings-container .option-box .colors-list li:nth-child(4) {
    background-color: #03a9f4;
}
.settings-box .settings-container .option-box .colors-list li:nth-child(5) {
    background-color: #4caf50;
}
.settings-box .settings-container .option-box .colors-list li.active {
    opacity: 1;
    border: 1.5px solid transparent;
    box-sizing: content-box;
}
.settings-box .option-box .button-container {
    display: flex;
    height: 10vh;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.settings-box .option-box .button-container .button {
    background-color: #d2d2d2;
    width: 60px;
    height: 30px;
    border-radius: 60px;
    cursor: pointer;
    position: relative;
    transition: 0.2s;
}
.settings-box .option-box .button-container .button::before {
    content: "";
    position: absolute;
    background: #fff;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin: 2.5px;
    left: 0;
    transition: 0.2s;
}
.settings-box .check {
    display: none;
}

.settings-box .check:checked + .button {
    background-color: var(--main-color);
}
.settings-box .check:checked + .button::before {
    transform: translateX(30px);
}
.settings-box .reset-settings {
    background-color: var(--main-color);
    color: white;
    border: none;
    cursor: pointer;
    text-align: center;
    width: 50%;
    margin: 60px auto;
    padding: 10px;
    border-radius: 4px;
    display: block;
    font-weight: bold;
    font-size: 12px;
}
/* end settings box */

/* Start Nav Bullets */
.nav-bullets {
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    z-index: 1000;
}
.nav-bullets .bullet {
    width: 20px;
    height: 20px;
    border: 3px solid var(--main-color);
    margin: 20px auto;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
}
.nav-bullets .bullet.active {
    background-color: var(--main-color);
}
.nav-bullets .bullet .tooltip {
    color: #fff;
    background-color: var(--main-color);
    width: 120px;
    padding: 8px 10px;
    right: 32px;
    top: -10px;
    border-radius: 6px;
    text-align: center;
    position: absolute;
    cursor: default;
    pointer-events: none;
    display: none;
}
.nav-bullets .bullet:hover .tooltip {
    display: block;
}
.nav-bullets .bullet .tooltip::before {
    content: "";
    border-style: solid;
    border-width: 10px;
    border-color: transparent transparent transparent var(--main-color);
    height: 0;
    width: 0;
    position: absolute;
    right: -19px;
    top: 50%;
    transform: translateY(-50%);
}

/* End Nav Bullets */

/* Start Landing Page */
.landing-page {
    min-height: 100vh;
    background-image: url(../imgs/img1.jpg);
    background-size: cover;
    position: relative;
}
.landing-page .overlay {
    background-color: #0000009c;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
.landing-page .container {
    position: relative;
    z-index: 1000;
}
.header-area {
    position: relative;
    z-index: 2;
    color: white;
    display: flex;
    padding: 10px;
}
.header-area .logo {
    width: 300px;
    padding: 15px;
    font-weight: bold;
    font-size: 24px;
}
@media (max-width: 767px) {
    .header-area .logo {
        font-size: 22px;
    }
}
.header-area .links-container {
    width: 100%;
    text-align: right;
}
.header-area .links {
    list-style: none;
    padding-left: 0;
    width: 100%;
    font-size: 20px;
}
.header-area .links li {
    display: inline-block;
    margin-left: 10px;
}
.header-area .links li a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}
.header-area .links li a:hover,
.header-area .links li a.active {
    color: var(--main-color);
}
.header-area .menu-icon {
    margin-top: 15px;
    position: relative;
}
.header-area .menu-icon.active-menu::before {
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    bottom: -19px;
    right: 0;
}
.header-area .menu-icon i {
    font-size: 20px;
    cursor: pointer;
}
.intro-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 2;
    text-align: center;
    width: 90%;
}
.intro-text h1 {
    font-size: 34px;
    margin: 0 0 12px;
}
@media (max-width: 575px) {
    .intro-text h1 {
        font-size: 26px;
    }
}
.intro-text h1 span {
    color: var(--main-color);
}
.intro-text p {
    line-height: 1.6;
    font-size: 20px;
    margin: 0;
}
@media (max-width: 575px) {
    .intro-text p {
        font-size: 18px;
    }
}
@media (max-width: 991px) {
    .header-area .links {
        display: none;
    }
    .header-area .links.open {
        background-color: white;
        padding: 10px;
        display: block;
        position: absolute;
        right: 0;
        top: 50px;
        width: 50%;
        border-radius: 4px;
        text-align: center;
    }
    .header-area .links.open li {
        display: block;
        margin: 10px;
    }
    .header-area .links.open li a {
        color: var(--main-color);
        font-weight: bold;
    }
    .header-area .menu-icon {
        display: block;
    }
}
@media (min-width: 992px) {
    .header-area .menu-icon {
        display: none;
    }
}
/* End Landing Page */

/* Start About Us  */
.about-us {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
}
@media (max-width: 767px) {
    .about-us {
        display: block;
        text-align: center;
    }
}
.about-us .info-box {
    flex: 1;
    padding: 30px;
}
@media (max-width: 767px) {
    .about-us .info-box {
        padding: 0;
    }
}
.about-us .info-box h2 {
    font-weight: bold;
    font-size: 30px;
    color: var(--main-color);
    margin: 0 0 10px;
}
.about-us .info-box p {
    line-height: 1.8;
    color: #555555;
    margin: 0;
}
.about-us .img-box {
    flex: 1;
    text-align: center;
}
.about-us .image-box img {
    width: 400px;
}
/* End About Us  */

/* Start SKills */
.skills {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #eee;
}
.skills h2 {
    font-weight: bold;
    font-size: 30px;
    color: var(--main-color);
    margin: 0 0 50px;
    text-align: center;
}
.skills .skill-box {
    background-color: #fff;
    display: flex;
    padding: 15px;
    margin-bottom: 15px;
    line-height: 30px;
}
@media (max-width: 767px) {
    .skills .skill-box {
        display: block;
    }
}
.skills .skill-box .skill-name {
    font-weight: bold;
    width: 120px;
    text-align: center;
}
@media (max-width: 767px) {
    .skills .skill-box .skill-name {
        width: 100%;
        margin-bottom: 10px;
    }
}
.skills .skill-box .skill-progress {
    height: 30px;
    width: calc(100% - 110px);
    background-color: #f6f6f6;
    border-radius: 6px;
    position: relative;
    overflow: hidden;
}
@media (max-width: 767px) {
    .skills .skill-box .skill-progress {
        width: 100%;
    }
}
.skills .skill-box .skill-progress span {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: var(--main-color);
    transition: all 1s;
}
/* End SKills */

/* Start Gallery */
.gallery {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}
.gallery h2 {
    font-weight: bold;
    font-size: 30px;
    color: var(--main-color);
    margin: 0 0 50px;
    text-align: center;
}
.gallery .images-box {
    text-align: center;
}
.gallery .images-box img {
    width: 190px;
    height: 150px;
    padding: 3px;
    background-color: #f6f6f6;
    border: 1px solid #ccc;
    margin: 5px;
    cursor: pointer;
}
.popup-overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
}
.popup-box {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    z-index: 10001;
}
.popup-box h3 {
    font-weight: bold;
    text-align: center;
    margin: 0 0 15px;
    color: var(--main-color);
}
.popup-box img {
    max-width: 100%;
}
.close-button {
    position: absolute;
    top: -15px;
    right: -15px;
    background-color: var(--main-color);
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    font-size: 20px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    font-family: Arial, Tahoma;
}
/* End Gallery */

/* Start Timeline */
.timeline {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #eee;
}
.timeline-content {
    position: relative;
    overflow: hidden;
}
.timeline-content::before {
    content: "";
    width: 2px;
    height: 100%;
    background-color: var(--main-color);
    position: absolute;
    left: 50%;
    margin-left: -1px;
    top: 0;
    animation: moveline 5s linear forwards;
}

@keyframes moveline {
    0% {
        height: 0;
    }
    100% {
        height: 100%;
    }
}
.hidden {
    opacity: 0;
    transform: translateY(-50px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}
.visible {
    opacity: 1;
    transform: translateY(0);
}

.timeline-content .year {
    margin: 20px auto;
    width: 50px;
    background-color: var(--main-color);
    position: relative;
    z-index: 2;
    border-radius: 4px;
    text-align: center;
    color: white;
    padding: 2px 5px;
    font-weight: bold;
}
.timeline-content .left,
.timeline-content .right {
    width: calc(50% - 25px);
    margin-bottom: 40px;
    position: relative;
}
@media (max-width: 767px) {
    .timeline-content .left,
    .timeline-content .right {
        width: 100%;
        margin-bottom: 20px;
    }
    .timeline-content .left::before,
    .timeline-content .right::before {
        display: none;
    }
    .timeline-content .left .content::before,
    .timeline-content .right .content::before {
        display: none;
    }
}
.timeline-content .left {
    float: left;
}
.timeline-content .left::before {
    content: "";
    width: 14px;
    height: 14px;
    background-color: #fff;
    border: 3px solid var(--main-color);
    position: absolute;
    right: -35px;
    border-radius: 50%;
    top: 20px;
}
.timeline-content .right {
    float: right;
}
.timeline-content .right::before {
    content: "";
    width: 14px;
    height: 14px;
    background-color: #fff;
    border: 3px solid var(--main-color);
    position: absolute;
    left: -35px;
    border-radius: 50%;
    top: 20px;
}
.timeline-content .content {
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
}
.timeline-content .content h3 {
    font-weight: bold;
    color: var(--main-color);
    margin: 0 0 10px;
    text-align: center;
}
.timeline-content .content p {
    color: #666;
    margin: 0;
    line-height: 1.6;
}
.clearfix {
    clear: both;
}
.timeline-content .left .content::before {
    content: "";
    border-style: solid;
    border-width: 10px;
    border-color: transparent transparent transparent white;
    height: 0;
    width: 0;
    position: absolute;
    right: -19px;
    top: 20px;
}
.timeline-content .right .content::before {
    content: "";
    border-style: solid;
    border-width: 10px;
    border-color: transparent white transparent transparent;
    height: 0;
    width: 0;
    position: absolute;
    left: -19px;
    top: 20px;
}
/* End Timeline */

/* Start Features */
.features {
    padding-top: 80px;
    padding-bottom: 80px;
}
.features h2 {
    font-weight: bold;
    font-size: 30px;
    color: var(--main-color);
    margin: 0 0 60px;
    text-align: center;
}
.features .feat-box {
    width: calc(100% / 2);
    float: left;
    text-align: center;
    margin-bottom: 40px;
}
@media (max-width: 575px) {
    .features .feat-box {
        width: 100%;
    }
}
.features .feat-box img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.features .feat-box h4 {
    font-size: 22px;
    margin: 15px 0 40px;
    position: relative;
}
.features .feat-box h4::before {
    content: "";
    width: 40px;
    height: 4px;
    background-color: var(--main-color);
    position: absolute;
    left: 50%;
    margin-left: -20px;
    bottom: -20px;
}
.features .feat-box p {
    width: 80%;
    margin: 0 auto;
    line-height: 1.6;
    color: #4d4c4c;
}
/* End Features */

/* Start testimonials */
.testimonials {
    position: relative;
    padding-top: 80px;
    padding-bottom: 80px;
}
.testimonials::before {
    content: "";
    width: 50%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--main-color);
}
.testimonials::after {
    content: "";
    width: 50%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #333;
}
.testimonials h2 {
    font-weight: bold;
    font-size: 30px;
    color: #fff;
    margin: 0 0 60px;
    text-align: left;
    position: relative;
    z-index: 2;
}
@media (max-width: 767px) {
    .testimonials h2 {
        text-align: center;
    }
}
.testimonials .ts-box {
    position: relative;
    z-index: 2;
    width: calc(98% / 3);
    float: left;
    background-color: #fff;
    padding: 20px;
    border-radius: 6px;
}
@media (max-width: 767px) {
    .testimonials .ts-box {
        float: none;
        width: 100%;
        margin-bottom: 20px;
    }
}
.testimonials .ts-box:not(:last-of-type) {
    margin-right: 1%;
}
.testimonials .ts-box > p {
    margin: 0 0 15px;
    line-height: 1.5;
    font-size: 18px;
    color: #0000009c;
    font-style: italic;
}
.testimonials .ts-box .person-info {
    overflow: hidden;
}
@media (max-width: 991px) {
    .testimonials .ts-box .person-info {
        text-align: center;
        overflow: visible;
    }
}
.testimonials .ts-box .person-info img {
    float: left;
    border-radius: 50%;
    margin-right: 20px;
}
@media (max-width: 991px) {
    .testimonials .ts-box .person-info img {
        float: none;
        margin-right: 0;
    }
}
.testimonials .ts-box .person-info h4 {
    font-weight: bold;
    font-size: 20px;
    color: #333;
    margin: 14px 0 10px;
}
.testimonials .ts-box .person-info p {
    color: #0000009c;
    margin: 0;
    font-size: 12px;
}
/* End testimonials */

/* Start Contact */
.contact {
    min-height: 600px;
    background-image: url("../imgs/contact\ us.jpg");
    background-size: cover;
    padding-top: 60px;
    padding-bottom: 60px;
    position: relative;
}
.contact .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
}
.contact .container {
    position: relative;
    z-index: 2;
}
.contact h2 {
    font-weight: bold;
    font-size: 30px;
    color: var(--main-color);
    margin: 0 0 60px;
    text-align: center;
}
.contact form {
    overflow: hidden;
    max-width: 600px;
    margin: auto;
}
.contact form .left {
    float: left;
    width: 49%;
}
.contact form .right {
    float: right;
    width: 49%;
}
@media (max-width: 767px) {
    .contact form .left,
    .contact form .right {
        float: none;
        width: 100%;
    }
}
.contact form input:not([type="submit"]),
.contact form textarea {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    background-color: rgba(218, 218, 218, 0.19);
}
.contact form input:not([type="submit"]):focus,
.contact form textarea:focus {
    border-color: var(--main-color);
    outline: none;
}
.contact form input {
    height: 40px;
}
.contact form textarea {
    height: 150px;
}
.contact form textarea:focus::-webkit-input-placeholder {
    opacity: 0;
    transition: 0.2s;
}
.contact form input[type="submit"] {
    padding: 10px;
    width: 100%;
    border-color: transparent;
    background-color: var(--main-color);
    color: white;
    cursor: pointer;
}
/* End Contact */

/* Start Footer  */
.footer {
    background-color: #333;
    color: #eee;
    padding: 20px;
    text-align: center;
}
/* EndFooter  */

/* Start Grid System */
/*Small screens*/
@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

/*Medium screens*/
@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}
/*Large screens*/
@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}
/* Xlarge screens */
@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}
/* End Grid System */
